.light {
  --primary: rgb(102 85 142);
  --surface-tint: rgb(102 85 142);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(233 221 255);
  --on-primary-container: rgb(77 61 117);
  --secondary: rgb(98 91 112);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(232 222 248);
  --on-secondary-container: rgb(74 68 88);
  --tertiary: rgb(126 82 95);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(255 217 226);
  --on-tertiary-container: rgb(99 59 72);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(254 247 255);
  --on-background: rgb(29 27 32);
  --surface: rgb(254 247 255);
  --on-surface: rgb(29 27 32);
  --surface-variant: rgb(231 224 235);
  --on-surface-variant: rgb(73 69 78);
  --outline: rgb(122 117 127);
  --outline-variant: rgb(202 196 207);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(50 47 53);
  --inverse-on-surface: rgb(245 239 247);
  --inverse-primary: rgb(208 188 254);
  --primary-fixed: rgb(233 221 255);
  --on-primary-fixed: rgb(33 15 71);
  --primary-fixed-dim: rgb(208 188 254);
  --on-primary-fixed-variant: rgb(77 61 117);
  --secondary-fixed: rgb(232 222 248);
  --on-secondary-fixed: rgb(30 25 43);
  --secondary-fixed-dim: rgb(204 194 219);
  --on-secondary-fixed-variant: rgb(74 68 88);
  --tertiary-fixed: rgb(255 217 226);
  --on-tertiary-fixed: rgb(49 16 28);
  --tertiary-fixed-dim: rgb(240 184 199);
  --on-tertiary-fixed-variant: rgb(99 59 72);
  --surface-dim: rgb(222 216 224);
  --surface-bright: rgb(254 247 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(248 241 250);
  --surface-container: rgb(242 236 244);
  --surface-container-high: rgb(236 230 238);
  --surface-container-highest: rgb(230 224 233);
}
